[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=AHP GT Configurator
GenericName=Configuration utility for the AHP GT mount controllers
Comment=Configuration utility for the GT Controllers
Exec=ahp-gt-configurator
Icon=ahp-gt-configurator
StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;KDE;Education;Science;Astronomy;
