IDI_ICON1               ICON        DISCARDABLE            "icon.ico"
IDI_ICON2               ICON        DISCARDABLE            "check.ico"
IDI_DATA1               TEXT        DISCARDABLE            "gt1.json"
IDI_DATA2               TEXT        DISCARDABLE            "gt1_lock.json"
IDI_DATA3               TEXT        DISCARDABLE            "gt2dec.json"
IDI_DATA4               TEXT        DISCARDABLE            "gt2dec_brake.json"
IDI_DATA5               TEXT        DISCARDABLE            "gt2dec_lock.json"
IDI_DATA6               TEXT        DISCARDABLE            "gt2ra.json"
IDI_DATA7               TEXT        DISCARDABLE            "gt2ra_brake.json"
IDI_DATA8               TEXT        DISCARDABLE            "gt2ra_lock.json"
IDI_DATA9               TEXT        DISCARDABLE            "gt5.json"
IDI_DATA10              TEXT        DISCARDABLE            "gt5_brake.json"
IDI_DATA11              TEXT        DISCARDABLE            "gt5_lock.json"
